<!DOCTYPE html>
<html>
<style>
  input[type=text],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #courses {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #courses td,
  #courses th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #courses tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #courses tr:hover {
    background-color: #ddd;
  }

  #courses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .view {
    cursor: pointer;
    text-decoration: underline;
  }
</style>

<body>

  <h3>Scrape Courses</h3>

  <div>
    <form action="/scrape" method="POST">
      <input type="text" id="query" name="query" placeholder="Search for courses.." required>
      <input id="submit" type="submit" value="Submit">
    </form>
  </div>
  <div>
    <table id="courses">
      <tr>
        <th>Filename</th>
        <th>Action</th>
      </tr>
      {{#each files}}
      <tr>
        <th>{{this}}</th>
        <th class="view"><a target="_blank" href="http://localhost:4321/{{this}}">view</a></th>
      </tr>
      {{/each}}
    </table>
  </div>
  <script>
    document.getElementById("#submit").addEventListener("submit", function (e) {
      e.target.value = "scraping...";
      e.disabled = true;
      return 1
    });
  </script>
</body>

</html>