<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrape Coursera</title>
</head>
<body>
    <h2>Scrape complete. Please return to homepage to view the CSV</h2>
    <a href="http://localhost:4321">homepage</a>
</body>
</html>